.ShowHero,
.ShowHero>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ShowHero>div {
    margin-top: 20px;
}

.show-hero-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px 0;
    gap: 10px;
}

.show-hero-fav p{
    width: 100% !important;
    font-family: 'Koulen', cursive !important;
    font-size: 28px !important;
}

.star{
    width: 40px;
    height: 40px;
}

.fav-error{
    width: 90% !important;
    color: #a4810d !important;
    font-size: 16px !important;
    text-align: center;
    text-shadow: none !important;
}

.info-card,
.stats-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.info-card {
    background-color: #ffd500ff;
    box-shadow: 0px 2.5px 0 #ffc400;
}

.info-card>img {
    width: 275px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #ffc400;
}

.contain{
    object-fit: contain !important;
}

.info-card>h2,
.stats-card>h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Koulen', cursive;
    line-height: 1.2;
    color: #fff;
    border-radius: 10px;
    text-shadow: 0px 2.5px 0 #00000040;
}

.info-card>h2 {
    margin: 15px 0 0 0;
}

.stats-card>h2 {
    margin: 0;
}

.info-card>h2 {
    background-color: #ffc400;
}

.stats-card>h2 {
    background-color: #406bb0;
}

.info-card p,
.stats-card p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 0px 2.5px 0 #00000040;
}

.info-card p{
    width: 160px;
}

.stats-card p{
    width: 130px;
}

.info,
.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 10px 25px 10px;
}

.info {
    border-bottom: 4px solid #ffc400;
}

.stats {
    border-bottom: 4px solid #406bb0;
}

.no-bar {
    border-bottom: none;
}

.alignment {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.good {
    background-color: #5ec05e;
}

.bad {
    background-color: #f25555ff;
}

.neutral {
    background-color: #ffc400;
}

.stats-card {
    background-color: #4a86e8ff;
    box-shadow: 0px 2.5px 0 #406bb0;


}

.stats-fight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-a-fight{
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding-top: 5px;
    font-size: 30px;
    line-height: 1;
    background-color: #f25555ff;
    border-radius: 15px;
    box-shadow: 0px 2.5px 0 #ba3535;
    font-family: 'Koulen', cursive;
    color: #fff;
    border: none;
    text-shadow: 0px 2.5px 0 #00000040;
}

@media only screen and (min-width: 900px) {
    .ShowHero>div {
        flex-direction: row;
        align-items: flex-start;
    }

    .info-card,
    .stats-card {
        width: 350px;
    }

    .info-card p {
        width: 200px;
    }
}

@media only screen and (min-width: 1300px) {
    .info-card,
    .stats-card {
        width: 450px;
    }
}