.User{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.User a{
    color: #fff;
}

.your-heroes-headline,
.your-battles-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-shadow: 0px 2.5px 0 #00000040;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
}

.your-heroes-headline{
    background-color: #ffd500ff;
    box-shadow: 0px 2.5px 0 #ffc400;
}

.your-battles-headline{
    background-color: #4a86e8ff;
    box-shadow: 0px 2.5px 0 #406bb0;
}

.user-favorties{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.user-battles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-battles-yet{
    margin-top: 20px;
    color: #ffd500ff;
    font-size: 30px;
}

@media only screen and (min-width: 900px) {

    .user-favorties{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .user-battles{
        flex-direction: row;
        flex-wrap: wrap;
    }
}