.user-battles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.User a{
    color: #fff;
}

.no-battles-yet{
    margin-top: 20px;
    color: #ffd500ff;
    font-size: 30px;
}

@media only screen and (min-width: 900px) {
    .user-battles{
        flex-direction: row;
        flex-wrap: wrap;
    }
}