.SuperCard{
    width: 300px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #4a86e8ff;
    border-radius: 10px;
    box-shadow: 0px 2.5px 0 #406bb0;
}

.SuperCard>img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #69a0f9;
}

.SuperCard.favorite-super{
    background-color: #ffd500ff;
    box-shadow: 0px 2.5px 0 #ffc400;

}

.SuperCard.favorite-super>img{
    background-color: #ffc400;
}

.SuperCard p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Koulen', cursive;
    line-height: .9;
    color: #fff;
    text-shadow: 0px 2.5px 0 #00000040;
}

.super-card-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}