.SearchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #fff;
    border: 5px solid #f25555;
    border-radius: 10px;
    box-shadow: 0px 2.5px 0 #ba3535;
}

.search-input{
    width: 100%;
    background-color: transparent;
    padding: 0 10px;
    font-size: 26px;
    border: none;
    font-family: "Roboto", san-serif;
}

.search-input:focus{
    outline: none;
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.search-button:active{
    transform: translateY(0) !important;
}

.magnifying-glass{
    width: 26px;
    height: 26px;
}

@media only screen and (min-width: 900px) {
    .SearchBar{
        margin-top: 20px;
    }
}