.BattleCard {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 15px;
    padding: 10px;
    background-color: #4a86e8ff;
    border-radius: 10px;
    box-shadow: 0px 2.5px 2.5px #00000040;
}

.BattleCard img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.BattleCard h2{
    margin: 10px;
}