.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-supers{
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    padding-top: 5px;
    font-size: 30px;
    line-height: 1;
    background-color: #f25555ff;
    border-radius: 15px;
    box-shadow: 0px 2.5px 2.5px #00000040;
    font-family: 'Koulen', cursive;
    color: #fff;
    border: none;
    text-shadow: 0px 2.5px 2.5px #00000040;
}