.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home a{
    text-decoration: none !important;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    font-size: 75px;
    color: #f25555ff;
    text-shadow: 0px 2.5px 2.5px #00000040;
}