header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #ffd500ff;
    text-shadow: 0px 2.5px 2.5px #00000040;
    box-shadow: 0px 2.5px 2.5px #00000040;
    margin-bottom: 20px;
}

.logo{
    width: auto;
    height: 70px;
    margin: 10px 0 10px 10px;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

nav h2,
button.login-button{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding-top: 5px;
    font-size: 24px;
    line-height: 1;
    background-color: #f25555ff;
    border-radius: 15px;
    box-shadow: 0px 2.5px 2.5px #00000040;
}

nav a{
    text-align: center;
    color: #fff;
}

.login-button{
    background-color: #4a86e8ff !important;
}

button.login-button{
    font-family: 'Koulen', cursive;
    color: #fff;
    border: none;
}

@media only screen and (min-width: 900px) {

    header{
        width: auto;
        height: 100vh;
    }

    nav{
        height: 100%;
        flex-direction: column;
    }

    .nav-buttons{
        flex-direction: column;
        margin: 0;
    }

    nav h2,
    button.login-button{
        width: 120px;
        height: 90px;
        margin: 10px;
        font-size: 34px;
    }
    
    .logo{
        height: 100px;
        margin: 10px 0;
    } 
}