.HeroCard{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #4a86e8ff;
    border-radius: 10px;
    box-shadow: 0px 2.5px 2.5px #00000040;

}

.HeroCard>img{
    width: 275px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.HeroCard>p{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Koulen', cursive;
    line-height: .9;
    color: #fff;
    text-shadow: 0px 2.5px 2.5px #00000040;
}